@model EntityLayer.Concrete.Blog

@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<link rel="stylesheet" href="~/Content/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="~/Content/richtexteditor/rte.js"></script>
<script type="text/javascript" src='~/Content/richtexteditor/plugins/all_plugins.js'></script>


<form method="post">

    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.ImagePath, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control input-default" })
    <br />
    <textarea name="Content" id="inp_editor1" class="mt-5">
     &lt;p&gt;Blog Yazısı&lt;/p&gt; 
    </textarea>

    <button class="btn btn-group btn-info mt-5">Kaydet</button>
</form>

<script>
    var editor1 = new RichTextEditor("#inp_editor1");
</script>