@model EntityLayer.Concrete.Service
@{
    ViewBag.Title = "AddNewService";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("AddNewService", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("İkon  Yükle")
    <input type="file" name="ImagePath" />
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-default" })
    <br />
    @Html.Label("İçerik")
    @Html.TextBoxFor(x => x.Content, new { @class = "form-control input-default" })
    <br />

    <button class="btn btn-group btn-success">Kaydet</button>
}