@model EntityLayer.Concrete.SocialMedia
@{
    ViewBag.Title = "AddNewSocialMedia";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("AddNewSocialMedia", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("İkon  Yükle")
    <input type="file" name="ImagePath" />
    <br />
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Sosyal Medya Linki")
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control input-default" })
    <br />

    <button class="btn btn-group btn-success">Kaydet</button>
}

