@model EntityLayer.Concrete.Sent
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="email-left-box">
                        <a href="email-compose.html" class="btn btn-primary btn-block">Mail Gönder</a>
                        <div class="mail-list mt-4">
                            <a href="/Admin/ContactList" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b>  </a>
                            <a href="/Admin/SentList" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Gönderilenler</a> 
                        </div>
                        
                    </div>
                    <div class="email-right-box">
                        
                        <div class="compose-content mt-5">
                            @using (Html.BeginForm("SendMessage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.Label("Kime")
                                @Html.TextBoxFor(x => x.ToMail, new { @class = "form-control bg-transparent" })
                                <br />
                                @Html.Label("Konu")
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control bg-transparent" })
                                <br />
                                @Html.Label("Mesaj")
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control bg-transparent messageTextArea" })

                                <button class="btn btn-group btn-info mt-5">Gönder</button>
                                <a href="/Admin/ContactList" class="btn btn-group btn-info bg-dark mt-5 text-white">İptal Et</a>
                                

                            }

                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .messageTextArea{
        height:200px !important;
    }
</style>