@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("UpdateAbout", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("AboutID")
    @Html.TextBoxFor(x => x.AboutID, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Ana Sayfa Hakkımda Başlık")
    @Html.TextBoxFor(x => x.TitleHome, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Ana Sayfa Hakkımda İçerik")
    @Html.TextBoxFor(x => x.ContentHome, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Ana Sayfa Hakkımda Resim Yükle")
    <input type="file" name="ImagePathHome" />
    <br />
    @Html.Label("Hakkımızda Başlık")
    @Html.TextBoxFor(x => x.TitleAbout, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Hakkımızda İçerik")
    @Html.TextBoxFor(x => x.ContentAbout, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Hakkımızda Resim Yükle")
    <input type="file" name="ImagePathAbout" />

    <button class="btn btn-group btn-rounded btn-success mt-3">Güncelle</button>
}