@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="~/Content/richtexteditor/rte.js"></script>
<script type="text/javascript" src='~/Content/richtexteditor/plugins/all_plugins.js'></script>


@using (Html.BeginForm("UpdateBlog", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("BlogID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Resim Yükle")
    <input type="file" name="ImagePath" />
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control input-default" })
    <br />
    @Html.TextBoxFor(x => x.Content, new { @class = "form-control input-default", @id = "inp_editor1" })

    <button class="btn btn-group btn-info mt-5">Kaydet</button>
}
    <script>
        var editor1 = new RichTextEditor("#inp_editor1");
    </script>

