@model EntityLayer.Concrete.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" class="form-group w-100">
    @Html.Label("Service ID")
    @Html.TextBoxFor(x => x.ServiceID, new { @class = "form-control input-default" })
    <br />
    @Html.Label("İkon  Yolu")
    @Html.TextBoxFor(x => x.ImagePath, new { @class = "form-control input-default" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-default" })
    <br />
    @Html.Label("İçerik")
    @Html.TextBoxFor(x => x.Content, new { @class = "form-control input-default" })
    <br />

    <button class="btn btn-group btn-success">Kaydet</button>
</form>

