@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="container p-5 w-100">
        <div class="row">
            <div class="col-10">
                <img src="@item.ImagePath" style="width:850px; height:450px;" class="mt-5 justify-content-center m-auto" />
                <h3 class="text-center m-5" style="
                    font-family:Arial, Helvetica, sans-serif; 
                    font-weight:700; 
                    font-size:32px;
                    line-height:32px;">
                    @item.Title</h3>
                <p>@Html.Raw(item.Content)</p>
            </div>

            <div class="col-2">
                <h1>Side</h1>
            </div>
        </div>
    </div>
}


@Html.Action("AddMail","Newsletter")
@Html.Action("Footer","Home")



