@using PagedList
@using PagedList.Mvc


@model IEnumerable<EntityLayer.Concrete.Blog>
<style>
    .page-link a {
        font-family: "Poppins", sans-serif;
        color: darkgreen;
        padding:15px;
        font-size:18px;       
            }
</style>
<div class="container" style="margin-top:160px;">
    <div class="main-content p-5">
        <div class="row">
            <aside class="col-lg-2 col-sm-12blog-sidebar">
                @Html.Action("CategoryList","Category")
            </aside>
            <div class="col-lg-10 col-sm-12 blog-section mb-3 ">
                <div class="container">

                    <div class="recent-blogs-title mb-5">
                        <h3>Son Bloglar</h3>
                        <hr size="7" class="line mt-3 w-auto">
                    </div>
                    <div class="mb-4 p-4">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
                       new PagedListRenderOptions
                       {
                           DisplayLinkToIndividualPages = true,
                           DisplayPageCountAndCurrentLocation = false,
                           MaximumPageNumbersToDisplay = 10,
                           LiElementClasses = new string[] { "page-item" },
                           ContainerDivClasses = new string[] { "page-link" },

                       }
                       )
                    </div>
                    <div class="recent-blogs-content">
                        <div class="container">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-sm-12 blog-img mb-5">
                                        <a href="/Blog/BlogDetails/@item.BlogID"><img src="~/yipa-frontend/assets/images/featureimg2.png" style="width:230px; height:220px;" /></a>
                                    </div>
                                    <div class="col-lg-8 col-sm-12 blog-content">
                                        <span style="font-size:14px; ">@item.Author.Name</span>
                                        <h4 class="mt-3"> <a style="font-size:24px;" class="_header_online_nav_link" href="/Blog/BlogDetails/@item.BlogID">@item.Title</a></h4>

                                        
                                        @Html.Raw(item.Content.Substring(0, item.Content.Substring(0, 200).LastIndexOf(" ")))...
                                      

                                        <div>
                                            <a href="/Blog/BlogDetails/@item.BlogID" class="btn mt-4 text-white mb-5" style="background-color: #43808C;"> Daha Fazla </a>
                                        </div>
                                    </div>



                                }



                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
